body{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

svg{
    width: 1000px;
    height: 700px;
    border: 1px solid black;
}

#bar-graph-purchases{
    height: 950px;
}

#scatter-purchases{
    height: 950px;
}
#scatter-section{
    display: none;
}

.no-show{
    display: none;
}

div.tooltip-donut {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.3rem;
}



/* PURCHASES SEARCH */
section.purchasing-search > div {
    margin-top:10px;
}

#purchasing-search{
    padding: 0;
}
.date, .time, .type{
    font-weight: 500;
}

#purchasing-search span{
    display: block;
    /* width:600px; */
    flex: 1;   
}

span.time, span.date, span.type, span.price{
    flex:0.5 !important;
}
#purchasing-search li {
    display:flex;
}
#purchasing-search li:not(#purchases-header) {
    background-color: #d9d9e5;
    padding: 9px 10px;
    border-radius: 10px;
    margin: 5px 0px;
}
#purchases-header span{
    color: grey;
    padding-bottom: 10px;
    font-weight: 800 !important;
}

#numResults {
    color: grey;
    padding-left:10px;
    margin-top: 20px;
}

circle.purchasesScatter{
    /* fill: black; */
    opacity: 0.3;
    /* stroke: black; */
}
circle.purchasesScatter.hide{
    visibility: hidden;
}


/* BAR GRAPH */
.highlighted{
    stroke: #404040;
    stroke-width:4;
}
.legend:hover{
    fill: rgb(53, 80, 139);
    stroke: rgb(53, 80, 139);
}
.legend.selected{
    fill: rgb(53, 80, 139);
    stroke: rgb(53, 80, 139);
}


.axis-label{
    fill: black;
}


/* SCATTERPLOT */
div.tooltip-donut.scatter{
    font-size: 10px;
}


img{
    position: absolute;
    z-index: -4;
    opacity: 0.75;   
    width: 1000px;
    height: 700px;
}